<div class="column-1">

  <h1>The Stadium Choir</h1>

  <div id="rendered-content">

    <h2>Sign Up</h2>

    <p style="color: red">NOTE: We have reached our quota for membership in the
    Stadium Choir.  We will, however, be maintaining a list of alternates in
    case some of the current members need to drop out for whatever reason.
    Please feel free to sign up if you would like to be on the waiting list or
    if you would like to be considered for this opportunity in the future.</p>

    <% if !@singer.errors.empty? %>
      <div id="error-message">
        There were problems with the signup form:<br>
        <% @singer.errors.each_full do |msg| %>
          <%= msg %><br>
        <% end %>
      </div>
    <% end %>

    <% form_for :singer, :url => {:action => "do_signup"} do |f| %>
      <table id="signup-form">
        <tr>
          <th>First Name</th>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td><%= f.text_field :last_name %></td>
        </tr>
        <tr>
          <th>Email Address</th>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <th>Age</th>
          <td><%= f.text_field :age, :size => 5 %></td>
        </tr>
        <tr>
          <th>Phone</th>
          <td><%= f.text_field :phone %></td>
        </tr>
        <tr>
          <th>Voice Part</th>
          <td><%= f.select(:voicepart_id,
                            Voicepart.find(:all).collect {|vp| [vp.name, vp.id]},
                            :include_blank => true) %></td>
        </tr>
        <tr>
          <th>Recording Candidate</th>
          <td>
            <%= f.check_box :recording, {}, 'true' %><br>
            Check this box if you would like to be considered for participating
            in the recording session to be done in advance of the performance.
            Note that this requires an audition.
          </td>
        </tr>
        <tr>
          <th>Comments</th>
          <td>
            <%= f.text_area :comments %><br>
            Any special information you'd like to provide, including (if you
            wish) vocal history.
          </td>
        </tr>
      </table>

      <font color="red"><em>Please hit this button <b>only once</b>
      (it might take a minute)</em></font><br>
      <%= submit_tag "Sign Me Up" %>

      <br><br>
      <p>NOTE: If anthing goes wrong with the form submission, please email
      stadium<foo>choir<foo>@<foo>twoedge<foo>.<foo>com with a precise
      description of what happened.</p>
    <% end %>
  
  </div>
</div>


<div class="column-2">

  <div class="standard-container">
    <div>
      <h2><a href="/">Home</a></h2>
    </div>
  </div>

</div>
